/******HEADER******/
/*Extra large devices*/
@media (min-width: 1200px) {
    .d-small {
        display: none;
    }
}
/*large devices*/
@media (min-width: 992px) and (max-width: 1199px) {
    .d-small {
        display: none;
    }
    .navbar-nav {
        font-size: 70%;
    }
}
/*medium devices*/
@media (min-width: 768px) and (max-width: 991px) {
    .d-small {
        display: block;
    }
    .navbar-brand h1 {
        font-size: 95%;
    }
    .navbar-nav {
        font-size: 60%;
    }
}
/*small devices*/
@media (min-width: 576px) and (max-width: 767px) {
    .d-small {
        display: block;
    }
    .navbar-brand h1 {
        font-size: 95%;
    }
}
/*X-small devices*/
@media (max-width: 575px) {
    .d-small {
        display: block;
    }
    .navbar-brand h1 {
        font-size: 95%;
    }
}
